/*=======---  Example CSS styling  ---=======*/
/* Any CSS here will apply to your document! */

.myExampleClass {
	color: black;
}

/* A4 Page Size */
.page{
	width  : 210mm;
	height : 296.8mm;
}

.recorte{
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
}

.centered{
  text-align:center;
}

.dialog{
  text-align:justify;
  font-style:italic;
  text-indent:12px;
}

.dialog em{
  color:#226;
}



/* Print Ink Friendly */
/*
*:is(.page,.monster,.note,.descriptive) {
	background : white !important;
	filter : drop-shadow(0px 0px 3px #888) !important;
}
*/

/* Screen: disable fancy first letter, which does not work for screen */
/* https://github.com/naturalcrit/homebrewery/issues/1285 */

.page h1+p{
  margin-top:15px;
}

/* Removes Drop Caps */
.page h1+p:first-letter {
	font-family:'MrEavesRemake';
  font-size:50px;
  margin-left:-30px;
}

